include LICENSE
include NOTICE
include README.md
include pyproject.toml

recursive-include q_test_arsenal *
recursive-include scenarios *
recursive-exclude * __pycache__
recursive-exclude * *.py[cod] 